androidviewclient==14.0.0
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
Django==1.11.28
idna==2.6
image==1.5.20
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
Pillow==5.0.0
pymongo==3.6.1
pyparsing==2.2.0
python-dateutil==2.7.1
pytz==2018.3
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
image==1.5.20
Wand==0.4.4
uuid==1.30
datetime==4.2
timezones==1.9.7
pymysql==0.8.1